---
layout: layouts/home.njk
title: Bienvenue sur le site de a11yMTL
description: Des conférences à Montréal pour partager des retours d’expériences et des bonnes pratiques autour de l’accessibilité du Web et de l’inclusion numérique.
eleventyNavigation:
  key: Accueil
  order: 1
---
{% set maxEvent = collections.events.length | min(3) %}
<h1>{% if maxEvent == 1 %}Le dernier événement{% else %}Les {{ maxEvent }} derniers événements{% endif %}</h1>

{% set eventslist = collections.events | head(-3) %}
{% set eventslistCounter = collections.events | length %}
{% include "eventslist.njk" %}

<p>Vous trouverez d'autres événements dans <a href="{{ '/events/' | url }}">les archives</a>.</p>
