---
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>{% if maxPosts == 1 %}Le dernier événement{% else %}Les {{ maxPosts }} derniers événements{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Vous trouverez d'autres événements dans <a href="{{ '/posts/' | url }}">les archives</a>.</p>
