---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Étiquettes “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Étiqueté “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Voir <a href="{{ '/tags/' | url }}">toutes les étiquettes</a>.</p>
