---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.events | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for event in collections.events | reverse %}
	{% set absoluteEventUrl %}{{ event.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ event.data.title }}</title>
		<link href="{{ absoluteEventUrl }}"/>
		<updated>{{ event.date | rssDate }}</updated>
		<id>{{ absoluteEventUrl }}</id>
		<content type="html">{{ event.templateContent | htmlToAbsoluteUrls(absoluteEventUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
