	<header class="sm:block md:flex md:justify-between bg-black text-white">

		<div class="text-2xl font-semibold py-4 pl-4"><a href="{{ '/' | url }}"><img class="mx-auto" src="{{ '/img/a11yMTL-inverted.png' | url }}" alt="{{ metadata.title }}"></a></div>

		<nav class="py-12 text-center">
			<ul class="sm:block">
				{%- for entry in collections.all | eleventyNavigation %}
				<li class="{% if entry.url == page.url %}active{% endif %} nav-item"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
				{%- endfor %}
			</ul>
			<!--<div class="sm:hidden">
				<button type="button" class="ml-1 mr-1 h-8 w-8 rounded py-1" aria-label="Toggle Menu">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-900 dark:text-gray-100">
						<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
					</svg>
				</button>
				<div class="fixed top-24 right-0 z-10 h-full w-full transform bg-gray-200 opacity-95 duration-300 ease-in-out dark:bg-gray-800 translate-x-full">
					<button type="button" aria-label="toggle modal" class="fixed h-full w-full cursor-auto focus:outline-none"></button>
					<nav class="fixed mt-8 h-full">
						<ul>
							{%- for entry in collections.all | eleventyNavigation %}
							<li class="{% if entry.url == page.url %}active{% endif %}text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-100"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
							{%- endfor %}
						</ul>
					</nav>
				</div>
			</div>-->
		</nav>
	</header>
