<ol reversed class="eventlist" style="counter-reset: start-from {{ (eventslistCounter or eventslist.length) + 1 }}">
{% for event in eventslist | reverse %}
  <li class="eventlist-item{% if event.url == url %} eventlist-item-active{% endif %}">
    <a href="{{ event.url | url }}" class="eventlist-link">{% if event.data.title %}{{ event.data.title }}{% else %}<code>{{ event.url }}</code>{% endif %}</a>
    <time class="eventlist-date" datetime="{{ event.date | htmlDateString }}">{{ event.date | readableDateFr }}</time>
    {% for tag in event.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="event-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
