  {% include "partials/head.njk" %}
  <body class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white">

    {% include "partials/header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }} px-4"{% else %} class="px-4"{% endif %}>


     <h1 className="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">
      {{ title }}
    </h1>


      {% if tag == event %}

        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDateFr }}</time>
        <ul>
        {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
        <li><a href="{{ tagUrl | url }}" class="event-tag">{{ tag }}</a></li>
        {%- endfor %}
        </ul>

      {% endif %}

      <p>{{ description | safe }}</p>

      {{ content | safe }}

{% if tag == event %}

    {%- if collections.events %}
    {%- set nextEvent = collections.events | getNextCollectionItem(page) %}
    {%- set previousEvent = collections.events | getPreviousCollectionItem(page) %}
    {%- if nextEvent or previousEvent %}
    <ul>
    {%- if nextEvent %}<li>Suivant : <a href="{{ nextEvent.url | url }}">{{ nextEvent.data.title }}</a></li>{% endif %}
    {%- if previousEvent %}<li>Précédent: <a href="{{ previousEvent.url | url }}">{{ previousEvent.data.title }}</a></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}

{% endif %}

    </main>

    {%- include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
