---
layout: layouts/base.njk
title: La communauté d’accessibilité numérique à Montréal
description: Les conférences en ligne et en présentiel pour partager des retours d’expériences et des bonnes pratiques autour de l’accessibilité du Web et de l’inclusion numérique.
eleventyNavigation:
  key: Accueil
  order: 1
---
{% set maxEvent = collections.events.length | min(5) %}
<h2 class="h2">Les événements</h2>

{% set eventslist = collections.events %}
{% set eventslistCounter = collections.events | length %}
{% include "eventslist.njk" %}

<p>Vous trouverez d'autres événements dans <a href="{{ '/archive/' | url }}">les archives</a>.</p>

<h2 class="h2">Devenir commanditaires</h2>
<p>Vous souhaitez devenir commanditaire de notre communauté de pratique a11yMTL et partager votre engagement ?</p>
<p><a href="mailto:a11ymtl@gmail.com">Devenir commanditaires</a></p>
