---
permalink: /tags/
layout: layouts/base.njk
templateClass: temp-gen
---
<h1 class="h1">Tags</h1>

<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="event-tag">{{ tag }}</a></li>
{% endfor %}
</ul>