---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - event
    - events
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Étiqueté “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
{% set eventslist = collections[ tag ] %}
{% include "eventslist.njk" %}

<p>Voir <a href="{{ '/tags/' | url }}">toutes les étiquettes</a>.</p>
