---
layout: layouts/base.njk
templateClass: tmpl-event
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDateFr }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="event-tag">{{ tag }}</a>
{%- endfor %}

<p>{{ description | safe}}</p>

{{ content | safe }}

{%- if collections.events %}
{%- set nextEvent = collections.events | getNextCollectionItem(page) %}
{%- set previousEvent = collections.events | getPreviousCollectionItem(page) %}
{%- if nextEvent or previousEvent %}
<hr>
<ul>
  {%- if nextEvent %}<li>Suivant : <a href="{{ nextEvent.url | url }}">{{ nextEvent.data.title }}</a></li>{% endif %}
  {%- if previousEvent %}<li>Précédent: <a href="{{ previousEvent.url | url }}">{{ previousEvent.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
